@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');
@import url('https://cdn-uicons.flaticon.com/uicons-regular-straight/css/uicons-regular-straight.css');

@import url("./parallax.css");

*::-webkit-scrollbar {
    width: 13px;
}

*::-webkit-scrollbar-track {
    background: #2b2e4a;
}

*::-webkit-scrollbar-thumb {
    background-color: #e84545;
    border-radius: 10px;
    border: 3.5px solid #2b2e4a;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Porto';
    src: url('../fonts/Porto\ 400.woff') format('woff');
    src: url('../fonts/Porto\ 400.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

:root {
    --bg-color: #2B2E4A;
    --txt-color: #EEEEEE;
    --txt-accent-color: #E84545;
    --txt-alternate-color: #5FA8D3;
    --txt-font: 'Porto', sans-serif;

    --header-width: 250px;
}

html {
    scroll-behavior: smooth;
}

:target {
    scroll-margin-top: .8em;
}

body {
    background-color: var(--bg-color);
    font-family: var(--txt-font);
    color: var(--txt-color);
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    height: 100vh;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    border-right: 2px solid rgba(225, 225, 225, .1);
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    transform: translateX(0);
}

header .logo {
    width: 150px;
}

header .menu .list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 18px;
    font-weight: bold;
}

header .menu .list .item a {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--txt-color);
}

header .copyright {
    font-size: small;
    color: #A9A9A9;
}

main {
    margin-left: var(--header-width);
    transition: all .3s ease-in-out;
}

#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    min-height: 100vh;
}

#home .home-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    z-index: 1;
}

#home .home-info .home-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

#home .home-info .name {
    font-size: 24px;
}

#home .home-info .name strong {
    color: var(--txt-accent-color);
}

#home .home-info .description {
    color: var(--txt-alternate-color);
}

#home .home-info .social-icons .icon {
    width: 50px;
    height: 50px;
}

#home .contact-me {
    background-color: var(--txt-alternate-color);
    color: var(--txt-accent-color);
    padding: 16px 24px;
    border: 2px solid var(--txt-accent-color);
    border-radius: 25px;
    transition: all .3s ease-in-out;
}

#home .contact-me:hover {
    background-color: var(--txt-accent-color);
    color: var(--txt-color);
    transition: all .3s ease-in-out;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 48px;
}

section div h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

section div h1::first-letter {
    font-size: 54px;
    font-weight: bold;
    color: var(--txt-accent-color);
}

#about-me .about-info .resume {
    display: flex;
    align-items: center;
    gap: 54px;
}

#about-me .about-info .resume p {
    background-color: #353353;
    padding: 28px;
    text-align: justify;
    line-height: 1.5;
    border-radius: 25px;
}

#about-me .about-info .resume p::first-letter {
    font-weight: bold;
    font-size: 32px;
    color: var(--txt-accent-color);
}

#about-me .about-info .resume p strong {
    font-weight: bold;
    color: var(--txt-alternate-color);
}

#about-me .about-info .resume ul {
    min-width: fit-content;
    line-height: 2;
}